/*=================SECTION TAGS=================*/
section {
    margin-top: 85px;
    float: left;
    width: 48%;

}

/*==============CONTACT FORM IFRAME=========*/

#contact-form-wrapper {
    background-color: #808080;
    margin-top: 16px;
}



/*=================PHYSICAL ADDRESS============*/

button {
    background-color: #a3a3a3;
    color: #fff;
}

button:hover {
    background-color: #F5D000;
}

#physical-info-wrapper {
    text-align: center;
    margin-top: 40%;
}

/*==================MAP======================*/

#map-wrapper {
    width: 150%;
    border-top: solid;
    border-color: #000;
    padding-left: 60%;
}
